h1 {
  font-family: "GTSectraITalic";
  color: black;
  font-size: 30pt;
}
#header {
  width: 100%;
  text-align: center;
  border-width: thin;
  position: absolute;
  top: 0;
}
p {
  margin: 0px;
}
a {
  margin: 0px;
}
                                /*  DIALOG */
#dialog{
  display: block;
  height: 600px;
  width: 850px;
  z-index: 200;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#rightdialog{
  float: right;
  width: auto;
  font-family: "FaktPro";
  font-size: 30pt;
  margin-top: 350px;
  transition: 2s;
  transition-delay: 5s;
}
#leftdialog{
  float: left;
  width: 300px;
  font-family: "FaktPro";
  font-size: 30pt;
  margin-top: 150px;
  transition: 2s;
  transition-delay: 2500ms;;
}
#choicebuttons{
margin-top: 500px;
text-align: center;
transition: 2s;
transition-delay: 6s;
}
.yesnobtn{
  margin: 5px;
  font-family: "GTSectra";
  font-size: 20pt;
  padding: 5px;
}
#yesbtn{
}
#nobtn{
}

                                /*  CYB */
#cyb-container{
  display: block;
  transition: 2500ms;
}
.hidden{
  opacity: 0;
}
#cyb{
  display: block;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

}
#face{
  cursor: pointer;
}
#shadow{
  display: block;
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
#shadowpath{
  fill: #6E6EB1;
}
                                /*  BUTTON */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0px;
  cursor: pointer;
}
#b-grid-container {
  display: none;
  position: absolute;
  top: 0px;
  left: -200px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  /* display: grid; */
  height: 74px;
  width: 300px;
  background-color: #f9f9f9;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.08);
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  grid-template-rows: auto;
  grid-template-columns: 52px auto 75px;
  z-index: 5;
}
#b-col1 {
  grid-column: 1;
  align-self: center;
  z-index: 0;
}
#b-col1-item {
  border: 2px solid;
  border-color: #c1c1c1;
  background-color: #ffffff;
  border-radius: 2px;
  height: 28px;
  width: 28px;
  margin:0 12px 2px 12px;
  padding: none;
  outline: none;
  transition: border 200ms;
}
#b-col1 :active {
  background-color: #ebebeb;
}
#b-col1 :hover {
  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
  border: 2px solid #b2b2b2;
}
#b-col2 {
  grid-column: 2;
  align-self: center;
}
#b-col2-item{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #000;
}
#b-col3 {
  grid-column: 3;
  align-self: center;
}
.b-col3-item {
  font-family: sans-serif;
  color: #555555;
  vertical-align: top;
}
#b-col3-logo {
  background:url('https://www.gstatic.com/recaptcha/api2/logo_48.png');
  background-size:32px;
  height:32px;
  margin:7px 13px 0 13px;
  width:32px;
}
#b-col3-txt {
  font-size: 10px;
  margin-top: 5px;
}
#b-col3-link {
  font-size: 8px;
  text-decoration: none;
  color: #555555;
}
                                /*  QUIZ */
.q-triangle{
  position: absolute;
  margin: auto;
  width: 0;
  height: 0;
  display: none;
}
#inner {
  /* border-top: 11px solid transparent;
  border-right: 11px solid white;
  border-bottom: 11px solid transparent; */
  top: 0px;
  bottom: 0px;
  left: -420px;
  right: 0px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent rgb(255, 255, 255) transparent transparent;
  z-index: 20;
}
#outer{
  border-color: transparent rgb(204, 204, 204) transparent transparent;
  border-width: 11px;
  border-style: solid;
  top: 0px;
  bottom: 0px;
  left: -422px;
  right: 0px;
  /* border-top: 10px solid rgb(204,204,204);
  border-right: 10px solid white;
  border-bottom: 10px solid rgb(204,204,204); */
  z-index: 20;
}
#q-grid-container{
  width: 400px;
  height: 580px;
  border: 1px solid rgb(204, 204, 204);
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
  grid-template-rows: 127px auto auto 60px;
  /* transition: visibility 0s linear 0s, opacity 0.3s linear 0s; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  display: none;
  background-color: #fff;
  opacity: 1;
  transition: opacity 1s;
}
#q-row1{
  background-color: #4a90e2;
  margin: 7px 7px 6px;
  height: 66px;
  padding: 24px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  grid-row: 1;
}
#q-type1{
  display: none;
}
#q-type2{
  display: none;
}
#q-identifier {
  font-size: 22pt;
  font-weight: bold;
}
#q-row2{
  text-align: center;
  padding: 0 7px;
  grid-row: 2;
  display: grid;
  grid-template-rows: 126px 126px 126px;
  grid-template-columns: 126px 126px 126px;
  grid-gap: 4px;
}
.q-img {
  background-size: 126px;
  background-repeat: no-repeat;
}
#feedback-msg{
  color: #d14836;
  font-family: sans-serif;
  font-size: 14px;
  display: none;
  text-align: center;
  width: 100%;
  padding: 7px 0;
  grid-row: 3;
}
#q-row3{
  grid-row: 4;
  border-top: 1px solid #dfdfdf;
  height: 60px;
  width: 98.5%;
  display: table;
  vertical-align: middle;
  padding-right: 1.5%;
  padding-top: 1.5%;
}
.row3icon {
  height: 48px;
  width: 48px;
  line-height: 60px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.55;
  display: table-cell;
  float: left;
  cursor: pointer;
}
.row3icon :hover {
  opacity: 1;
}
#refresh{
  background-image: url(../media/refresh.png);
}
#audio{
  background-image: url(../media/audio.png);
}
#info{
  background-image: url(../media/info.png);
}
#verify-button{
  float: right;
  background-color: #4a90e2;
  display: table-cell;
  vertical-align: middle;
  border: 0px;
  border-radius: 2px;
  font-family: sans-serif;
  height: 42px;
  line-height: 42px;
  margin-top: 2px;
  margin-right: 2px;
  font-size: 14px;
  color: #fff;
  min-width: 100px;
  text-align: center;
  padding: 0 10px 0 10px;
  cursor: pointer;
}
                                /*  FONTS */
@font-face {
  font-family: 'GTSectraItalic';
  src: url('../fonts/GT-Sectra-Book-Italic.otf');
}
@font-face {
  font-family: 'GTSectra';
  src: url('../fonts/GT-Sectra-Book.otf');
}
@font-face {
  font-family: 'FaktPro';
  src: url('../fonts/FaktPro-Normal.otf');
}
